<!--This is a simple HTML page that provides information about me, including my name, a brief description, my skills, and a calming image of a rainy field. The page is designed to be responsive and user-friendly, showcasing my web development skills. -->
<!DOCTYPE html>
<!--This declaration defines this document as an HTML5 document. It helps the browser to render the page correctly. -->
<html lang ="en">
    <!--This element is the root element of an HTML page. The lang attribute specifies the language of the document, which is English in this case. -->
    <head>
        <!--The head element contains meta-information about the document, such as the title and character encoding. -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset ="UTF-8">
        <!--The title element specifies the title of the document, which is displayed in the browser's title bar or tab. -->
        <title>Background Color</title>
        <style>
            body {
                color:{{background_color}};
            }
        </style>
    </head>
    <!--The body element contains the content of the document, such as text, images, and links. -->
    <body>
        <!-- The heading 1 element shows the first heading of the page -->
        <h1>{{color_name}}</h1>

    </body>

</html>